<section>
<!-- Page Content -->
    <div class="container"><!-- /.container -->

        <div class="row"><!-- /row -->
			<div class="col-md-3"><!-- col-md-3 -->
                {% include sidebarhome.html %}
			</div><!-- col-md-3 -->
			
            <div class="col-md-9"><!-- col-md-9 -->

                <div class="row carousel-holder"><!-- row carousel-holder -->

                    <div class="col-md-12"><!-- col-md-12 -->
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                            <ol class="carousel-indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="slide-image" src='{{ "/img/gifts.jpg" | prepend: site.baseurl }}' alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src='{{ "/img/footware.jpg" | prepend: site.baseurl }}' alt="">
                                </div>
                                <div class="item">
                                    <img class="slide-image" src='{{ "/img/clothes.jpg" | prepend: site.baseurl }}' alt="">
                                </div>
                            </div>
                            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                <span class="glyphicon glyphicon-menu-left"></span>
                            </a>
                            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                <span class="glyphicon glyphicon-menu-right"></span>
                            </a>
                        </div>
                    </div><!-- col-md-12 -->

                </div><!-- row carousel-holder -->
					<hr style="border: #fff; margin: 20px;">
					<div class="row"><!-- row -->

						<div class="col-sm-3 col-lg-3 col-md-3" style="margin-top: 10px;"><!-- col-sm-3 col-lg-3 col-md-3 -->
							<div class="boxed">
								<div class="post-list" style="list-style-type: none;">
										
										{% for post in paginator.posts %} 	
										<h4 style="margin-top: 20px;"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h4>
									<div class="excerpt">{{ post.excerpt }}</div>
									<div class="readmore">
										{% if post.content | post_contains_excerpt_tag %}
												<a class="btn btn-warning" href="{{ post.url | prepend: site.baseurl }}">Product Details</a>
										{% endif %}
									</div>								
								</div>
							</div>
						</div><!-- col-sm-3 col-lg-3 col-md-3 -->

						<div class="col-sm-3 col-lg-3 col-md-3" style="margin-top: 10px;"><!-- col-sm-3 col-lg-3 col-md-3 -->
							<div class="boxed">
								<div class="post-list" style="list-style-type: none;">			
									{% endfor %} 
								</div>
							</div>
						</div><!-- col-sm-3 col-lg-3 col-md-3 -->

					</div><!-- row -->
						 <div class="pagination"><!-- pagination -->
							  <ul>

								{% if paginator.page == 1 %}
								  <li><span class="active">1</span></li>
								{% else %}
								  <li><a href="/ecommerce">1</a></li>
								{% endif %}

								{% for count in (2..paginator.total_pages) %}

								  {% if count == paginator.page %}
									<li><span class="active">{{ count }}</span></li>
								  {% else %}
									<li><a href="/ecommerce/page{{ count }}">{{ count }}</a></li>
								  {% endif %}
								{% endfor %}

								{% if paginator.next_page %}
								  <li><a href="/ecommerce/page{{ paginator.next_page }}">Next</a></li>
								{% else %}
								  <li><span class="disabled">Next</span></li>
								{% endif %}
							  </ul>
						</div><!-- pagination -->
        </div><!-- col-md-9 -->
		</div><!-- /row -->
    </div><!-- /.container -->
</section>
