	
    <!-- Footer -->
    <footer class="text-left">
        <div class="footer-above">
            <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Help Centre</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> FAQ</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Shipping</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Free Shipping</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Track Order</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Information</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Coupons</a></li>
						<li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Wholesale</a></li>
						<li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Best Sellers</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Privacy Statement</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Terms of Use</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Site Map</a></li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-3 col-sm-6">
                    <h4>About us</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> About Our Company</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Careers</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Partners</a></li>
                        <li><a href="#" class="grey"><i class="fa fa-angle-right"></i> Store Addresses</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6">
                    <h4>Subscribe</h4>
                    <p>Get our weekly updates on your smart phone. You can unsubscribe anytime.</p>
                    <form style="padding:3px;text-align: center;" action="https://feedburner.google.com/fb/a/mailverify" method="post" target="popupwindow" onsubmit="window.open('https://feedburner.google.com/fb/a/mailverify?uri=getyourfreebiesnow', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true"><p style="text-align: left;">Type your email here:</p>
					<p><input type="text" style="width: 100%; display: inline; height: 30px; font-size: 12px; background-color: #F8F8F8; padding-left: 10px; border: 1px solid #ccc;" name="email" placeholder="Email address..."/></p>
					<input type="hidden" value="getyourfreebiesnow" name="uri"/><input type="hidden" name="loc" value="en_US"/>
					<input type="submit" value="Subscribe" style="font-size: 16px; font-weight: bold; width: 100%; display: inline; background-color: #f57100; color: white; border-color: #f57100; padding-left: 10px; height: 40px;"/></form>
					<h4>Connect with Us</h4>
					<ul class="list-inline">
                        <li><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest-p fa-2x" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
				</div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4>Main Address</h4>
                    <ul class="list-unstyled">
                        <li> Company Inc</li>
                        <li> 1234 Main Road</li>
                        <li>Toronto, ON A1A B1B</li>
                    </ul>
                </div>
                <div class="clearfix visible-sm-block"></div>
                <div class="col-md-6 col-sm-6">
                    <h4>Payment Methods</h4>
                    <img src='{{ "/img/paypal.png" | prepend: site.baseurl }}' alt="Payment-1">
                    <img src='{{ "/img/visa.png" | prepend: site.baseurl }}' alt="Payment-2">
                    <img src='{{ "/img/mastercard.png" | prepend: site.baseurl }}' alt="Payment-3">
                    <img src='{{ "/img/americanexpress.png" | prepend: site.baseurl }}' alt="Payment-5">
					<img src='{{ "/img/discover.png" | prepend: site.baseurl }}' alt="Payment-6">
                </div>
            </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                       <p class="pull-left footer-copy">Copyright &copy; yourfreebies.github.io 2016</p>
						<ul class="list-inline pull-right footer-right-copy">
							<li>
							 <p style="font-size: 15px; font-weight: bold; color: #F05A24;">Designed by <a href="http://www.airrayagroup.com/" target="_blank" style="color: #1F00C1;"><img src='{{ "/img/airrayagroup.png" | prepend: site.baseurl }}' style="width: 50px;" alt="AIR RAYA GROUP"/></a></p>
							</li>
						</ul><!-- .footer-menu -->
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button -->
	<button href="#top" id="backToTopBtn" class="btn btn-md scroll"><span class="glyphicon glyphicon-chevron-up"></span></button>

    <!-- jQuery -->
	<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
	<script src='{{ "js/megamenu.js" | prepend: site.baseurl }}'></script>
	<script src='{{ "js/bootstrap.js" | prepend: site.baseurl }}'></script>

	<!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
    })
    </script>


  <script>
  $('#backToTopBtn').click(function(){
        $('html,body').animate({scrollTop:0},'slow');return false;
    });
   </script>
   <script>
   $(document).ready(function(){
	
	//Check to see if the window is top if not then display button
	$(window).scroll(function(){
		if ($(this).scrollTop() > 100) {
			$('.scroll').fadeIn();
		} else {
			$('.scroll').fadeOut();
		}
	});
	
	//Click event to scroll to top
	$('.scroll').click(function(){
		$('html, body').animate({scrollTop : 0},800);
		return false;
	});
	
});
   </script>
         <script>
	
$('.partners-logo').slick({
  dots: false,
  infinite: true,
  speed: 2000,
  slidesToShow: 4,
  slidesToScroll: 4,
  arrows: false,
  autoplay: true,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
	
   </script>