<p class="lead">ALL DEPARTMENTS</p>
	<div class="well">											
			<ul class="list-unstyled white">
				<li><a href="#"  class="white">Appliances</a></li>
				<li><a href="#"  class="white">Electronics</a></li>
				<li><a href="#"  class="white">Clothing</a></li>
				<li><a href="#"  class="white">Furniture</a></li>
				<li><a href="#"  class="white">Foods</a></li>
				<li><a href="#"  class="white">Jewellery</a></li>
				<li><a href="#"  class="white">Office Supplies</a></li>
				<li><a href="#"  class="white">Sports</a></li>
				<li><a href="#"  class="white">Toys</a></li>
				<li><a href="#"  class="white">Health & Beauty</a></li>
            </ul>
	</div>
	


<!--Advertisement Widget-->
	<aside id="advertisement" class="advertisement">
	   <h4 class="lead">Advertisement</h4>
			<a href="https://themeforest.net/?ref=webthemethemplates" target="_blank"><img src='{{ "/img/themeforest.jpg" | prepend: site.baseurl }}' class="img-responsive" target="_blank" alt="Website Templates"></a>
	   <div class="clearfix"></div>
	</aside>
	<!--/Advertisement-->
