<p class="lead">ALL DEPARTMENTS</p>
	<div class="list-group">
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Appliances
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Electronics
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Clothing
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Furniture
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Foods
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Jewellery
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Office Supplies
		</a>
		<a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Sports
		</a><a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Toys
		</a>
		</a><a href="#" class="list-group-item">
			<i class="fa fa-angle-right"></i></i>
			Health & Beauty
		</a>
	</div>

<p class="lead">SALE</p>
	<div class="clearfix">
		<img src="img/shoe1.png" alt="Sale" class="img-responsive sale" />
		<p><a href="#"  class="sale">Blue Running Shoes</a></p>
		<div class="price">
			<span class="new">$49.99</span>
			<span class="old">$69.99</span> 

		</div>
	</div>
	<div class="clearfix">
		<img src="img/shoe2.png" alt="Sale" class="img-responsive sale" />
		<p><a href="#"  class="sale">Pink Running Shoes</a></p>
		<div class="price">
			<span class="new">$45.99</span>
			<span class="old">$65.99</span> 

		</div>
	</div>
		<div class="clearfix">
		<img src="img/heels.png" alt="Sale" class="img-responsive sale" />
		<p><a href="#"  class="sale">Black High Heels</a></p>
		<div class="price">
			<span class="new">$75.99</span>
			<span class="old">$87.99</span> 

		</div>
	</div>
		<div class="clearfix">
		<img src="img/leather.png" alt="Sale" class="img-responsive sale" />
		<p><a href="#"  class="sale">Leather Class Shoes</a></p>
		<div class="price">
			<span class="new">$100.99</span>
			<span class="old">$145.99</span> 

		</div>
	</div>
	<div class="clearfix">
		<img src="img/steeltoeshoes.png" alt="Sale" class="img-responsive sale" />
		<p><a href="#"  class="sale">Steel Toe Shoes</a></p>
		<div class="price">
			<span class="new">$130.99</span>
			<span class="old">$150.99</span> 

		</div>
	</div>
		<div class="clearfix">
		<img src="img/watch.png" alt="Sale" class="img-responsive sale" />
		<p><a href="#"  class="sale">Modern Male Watch</a></p>
		<div class="price">
			<span class="new">$110.99</span>
			<span class="old">$120.99</span> 

		</div>
	</div>

<p class="lead">POPULAR PRODUCTS</p>	

	<div class="clearfix">
		<img src="img/iphone.png" alt="Sale" class="img-responsive popular" />
		<p class="title-popular">Smartphone Collection</p>
		<p><a href="#" class="link"> Smartphone</a></p>
	</div>
	<div class="clearfix">
		<img src="img/handbag.png" alt="Sale" class="img-responsive popular" />
		<p class="title-popular">Women Handbag Collection</p>
		<p><a href="#" class="link"> Handbag</a></p>
	</div>
	<div class="clearfix">
		<img src="img/tshirt.png" alt="Sale" class="img-responsive popular" />
		<p class="title-popular">Male T-shirt Collection</p>
		<p><a href="#" class="link"> Best Sellers</a></p>
	</div>
	<div class="clearfix">
		<img src="img/jewellery.png" alt="Sale" class="img-responsive popular" />
		<p class="title-popular">High Class Jewellery Collection</p>
		<p><a href="#" class="link"> Hot Products</a></p>
	</div>

